{% extends "chats/base.html" %}

{% block title %} {{chatgroup}} | {{chat_room_type}} |  {{room.name}}  {% endblock %}


{% block head %} <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600,200' rel='stylesheet' type='text/css'>

{% load static %}

{% endblock %}


{% block content %}


<div class="row">
	<div class="left_section col-md-3">

			<div class="panel panel-default">

				<div class="heading panel-heading">

					<h4> Related </h4>

					<h5> <span id="showLC" class="local_chats_text"><button id="showLocalChats">Local Chats</button> </span>





						&nbsp <span id="showT"><button id="showTopics">Topics</button></span></h5>

				</div>


				<div id="listOfChats" class="panel-body-adjusted panel-body">



					<!-- The old ajax search
					<form id="search_chat_form" method="GET" action="">
						<div class="form-group">


							<input id="q" type="text" name="q" class="form-control" placeholder="Search..."/>


							<input type="hidden" id="modelToSearch" name="modelToSearch" />


						</div>

		            </form>


					-->


					<input id="q" type="text" class="form-control" placeholder="Search"/>
					<input type="hidden" id="modelToSearch" name="modelToSearch" />
					<input type="hidden" id="chatgroup_id" name="chatgroup_id" value="{{room.chatgroup.id}}" />



					<div style="clear:both" > </div>

					<div id="results">




					</div>


					<div id="list_of_localchats">

					{% for localchat in localchats %}


						<div class="local_chat">

							<a class="pull-left">

								<img class="img-circle" src="{{localchat.get_absolute_url_for_avatar}}" height="50px" width="50px">



							</a>


							<div class="local_chat_content">



								<h5> <a href="{{localchat.get_absolute_url}}"> {{localchat.name}} </a>

								<span>
								<span class="star glyphicon glyphicon-star">
								</span>


								<span class="number_of_favs"> {{localchat.get_number_of_participants}}


								</span>
								</span>

								</h5>

								<div class="local_chat_message">

									<a class="pull-left">

									<img class="img-circle" src="http://127.0.0.1:8000/media/profile_avatar/avatar.jpg" width="20px"
									height="20px">




									</a>

									<p>{{localchat.get_the_most_recent_message.text}}


								<!--
								<span class="heart glyphicon glyphicon-heart" > <span style="font-size: 12px" class="number_of_likes"> {{localchat.get_the_most_recent_message.get_number_of_likes}} </span> </span></p> -->


								</div>





							</div>




						</div>

					{%endfor%}

					</div>





					<div id="list_of_topics">

					{% for topic in topics %}


						<div class="local_chat">

							<a class="pull-left">

								<img class="img-circle" src="{{topic.get_absolute_url_for_avatar}}" height="50px" width="50px">



							</a>


							<div class="local_chat_content">



								<h5> <a href="{{topic.get_absolute_url}}"> {{topic.name}} </a>

								<span>
								<span class="star glyphicon glyphicon-star">
								</span>


								<span class="number_of_favs"> {{topic.get_number_of_participants}}


								</span>
								</span>

								</h5>

								<div class="local_chat_message">

									<a class="pull-left">

									<img class="img-circle" src="http://127.0.0.1:8000/media/profile_avatar/avatar.jpg" width="20px"
									height="20px">




									</a>

									<p>{{topic.get_the_most_recent_message.text}}


								<!--
								<span class="heart glyphicon glyphicon-heart" > <span style="font-size: 12px" class="number_of_likes"> {{localchat.get_the_most_recent_message.get_number_of_likes}} </span> </span></p> -->


								</div>





							</div>




						</div>

					{%endfor%}

					</div>







				</div>







			</div>


		</div>


		<div class="middle_section col-md-6">

		<div class="panel_messages panel panel-default">

				<div class="heading panel-heading">

					<div class="chat_title">



						<h4> <span class="local_chat_name">


							{%if chat_room_type == "globalchat"%}


							{{room.chatgroup.name}}


							{% else %}


							{{room.name}}

							{% endif %}


							<span>- {{chat_room_type}}</span>


						</span>

							<span class="right_icons">


						<!--<span class="glyphicon glyphicon-cog"></span> -->



	<!-- Modal -->






								<button type="button" data-toggle="modal" data-target="#myModal"><i style="font-size: 20px;" class="fa fa-info-circle" aria-hidden="true"></i></button>




								{% if is_owner %}


								<button type="button" data-toggle="modal" data-target="#adminPanel"> <i style="font-size: 20px;" class="fa fa-cog" aria-hidden="true"></i></button>


								{% endif %}


						<!--<span class="glyphicon glyphicon-search"></span> -->


						</span>


						 </h4>


					<!--	<a href="{{room.chatgroup.globalchat.get_absolute_url}}">  <h5>{{room.chatgroup.name}}</h5> </a> -->





					</div>










				</div>


				<div class="messages_wrapper panel-body">





					<div id="chat" class="chat_messages">

					{% for message in messages %}


					<div class="msg">

					<a class="pull-left">


						<img class="img-circle" src="{{message.user.profile.get_absolute_url_for_avatar}}" height="40px" width="40px" >

					</a>

					<h5>{{message.user.username}}


					<span class="time">

						{{message.formatted_timestamp}}


					</span>



					</h5>


					<p class="msg_body">

							{{message.text}} <span> Likes: {{message.get_number_of_likes}}</span>

						<span>     Dislikes: {{message.get_number_of_dislikes}}</span>






						<input id="like" type="button" name="{{message.id}}" class="fa" value="&#xf004;" /> {% csrf_token %}





							<!--<span class="heart glyphicon glyphicon-heart"> <span class="number_of_likes"> 420 </span> </span> -->


					</p>





					</div>

						<div style="clear:both"> </div>



					{%endfor%}

					</div>









				</div>












			</div>

			<div class="send_message">


				<form id="chatform">

				<div class="message_clip">


					<input id="text" class="pull-left" type="text" name="send_message" placeholder="Message">
					<!--<button type="submit" id="go">Say it</button>


					<span class="clip glyphicon glyphicon-paperclip"></span> -->

					<div style="clear: both"> </div>





				</div>




				</form>






			</div>



		</div>

		<div class="right_section col-md-3">

		<div class="panel panel-default">

				<div class="heading panel-heading">
					<h4> Participants </h4>

				</div>




				<!--

				<div class="participants panel-body">

					<div class="participant">


					<a class="pull-left">

						<img class="img-circle" src="img/avatar.jpg" height="30px" width="30px">


					</a>



					<h5> Artur Begyan

					</h5>

					<hr>



					</div>



					<div class="participant">


					<a class="pull-left">

						<img class="img-circle" src="img/yury.jpg" height="30px" width="30px">


					</a>



					<h5> Yury Danielov

					</h5>

					<hr>



					</div>


					-->















				</div>







			</div>













<div id="myModal" class="modal" role="dialog">
									  <div class="modal-dialog modal-lg">

										<!-- Modal content-->
											<div class="modal-content">


												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal"> &times; </button>
													<h4 class="modal-title"> <span id="roomName"> {{room.get_name}} </span> ({{room.get_room_type}})</h4>
												</div>


											  <div class="modal-body">

												<h3> About </h3>

												  <p id="roomAbout">{{ room.about }} </p>




												{% if room.get_room_type == "Local Chat" %}
												  <h3> Members </h3>

												  {% for participant in room.participants.all%}

												 <div class="participant">


													<a class="pull-left">

														<img class="img-circle" src="{{participant.profile.get_absolute_url_for_avatar}}" height="30px" width="30px">


													</a>



													<h5>  {{participant.username}}

													</h5>

													<!--<hr>-->



												</div>

												  {% endfor %}

												{% endif %}




											  </div>

											  <!--<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											  </div> -->
										</div>

								  </div>
</div>





<div id="adminPanel" class="modal" role="dialog">


	<div class="modal-dialog modal-lg">


		<div class="modal-content">


			<div class="modal-header">


				<button type="button" class="close" data-dismiss="modal"> &times; </button>
				<h4 class="modal-title"> {{room.get_name}} ({{room.get_room_type}}) Admin Panel</h4>

			</div>



			<div class="modal-body">


				<form method="post" enctype="multipart/form-data"> {% csrf_token %}

				  <div class="form-group">
					<label for="exampleInputName"> Chat Name </label>
					<input type="text" class="form-control" id="exampleInputName" name="name" aria-describedby="changename" placeholder="Change Chat Name">

				  </div>



				  <div class="form-group">
					<label for="exampleInputAbouts">About Chat</label>
					<input type="text" class="form-control" id="exampleInputAbout" name="about" placeholder="Change About">
				  </div>



				<div class="form-group">
					<div class="form-check">
					  <label class="form-check-label">
						<input name="is_hidden" class="form-check-input" type="checkbox"

						{% if room.is_hidden%}

						checked

						{% endif %}


						>Is hidden
					  </label>
					</div>
 				 </div>


				<div class="form-group">
					<div class="form-check">
					  <label class="form-check-label">
						<input name="is_private" class="form-check-input" type="checkbox"


						{% if room.is_private%}

						checked

						{% endif %}



						>Is private
					  </label>
					</div>
 				 </div>


				<div class="form-group">
					<label for="exampleFormControlFile1">Avatar</label>
					<input name="avatar" type="file" class="form-control-file" id="exampleFormControlFile1">
					<small id="avatarHelp" class="form-text text-muted">Currently: {{room.avatar}}</small>
  				</div>















				  <button type="submit" class="btn btn-primary">Submit Changes</button>


				</form>



			</div>









		</div>





	</div>





</div>





<script type="text/javascript" src='{% static "interactive/chat.js" %}'></script>


<script type="text/javascript" src='{% static "interactive/main.js" %}'></script>








{% endblock %}

