{% extends 'chats/base.html' %}
{% load staticfiles %}



{% block title %} {{object.name}} {% endblock %}




{% block content %}





  <div class="row">

    <div class="col-xs-1"> </div>


    <div class="col-xs-10">


    <div class="c-g-i">


      <div class="pull-left">

      <img class="img-circle" src="http://127.0.0.1:8000/media/group_avatar/football.png">


      </div>

      <div class="info">


      <div class="main-info">

      <h4> {{object.name}}

      <button class="follow_chatgroup follow-btn-big btn"> Follow </button>




      </h4>

      <button class="follow_chatgroup follow-btn btn"> Follow </button>





      </div>

      <div class="clear"> </div>

      <div class="other-info">

        <div class="group-stats">

        <span class="followers"> <span> {{object.members.count}} </span> followers </span>
        <span class="local-chats"> <span> {{object.localchat_set.count}} </span> local chats </span>
        <span class="topics"> <span> {{object.topic_set.count}} </span> topics </span>

        </div>


        <div class="group-about">
          <p>


            {{object.about}}
          </p>

        </div>

      </div>


      <div class="clear-medium"> </div>
      </div>




    </div>
    </div>


    <div class="col-xs-1"> </div>



  </div>


<div class="row">
		<div class="col-xs-1"> </div>


		<div class="col-xs-10">


            {% for topic in topics%}
			<div class="trending_post">



			<!--<span class="arrow_trending_up pull-left glyphicon glyphicon-arrow-up"></span> -->




				<div class="trending_post_content">

				<div>

					<a class="pull-left">

						<img class="trending_logo img-rounded" src="{{topic.get_absolute_url_for_avatar}}">

					</a>

					<div class="trending_post_name">

					<strong>

						<a href="{{topic.get_absolute_url}}"> Topic  {{topic.name}}   about  {{topic.about}} </a>

 					</strong>

 					</div>









				</div>




					<div style="clear: both"> </div>

					<div class="trending_top_message">

						<a class="pull-left">

 						<img class="img-circle" src="{{topic.get_the_most_recent_message.get_url_for_avatar_of_message_sender}}" height="30px" width="30px">



 						</a>

 						<p class="message_content"> {{topic.get_the_most_recent_message.text}}





 							<span class="heart glyphicon glyphicon-heart"> <span class="number_of_likes"> 420 </span> </span>






 						</p>






					</div>


				</div>

			<!--	<span class="arrow_trending_down pull-right  glyphicon glyphicon-arrow-down"></span> -->




				<div style="clear: both"> </div>
			</div>

            {% endfor %}
			<div style="clear: both"> </div>




		</div>

		<div class="col-xs-1"> </div>


	</div>





<script type="text/javascript" src='{% static "chats/js/main.js" %}'></script>

{% endblock %}




<!--



<h1> {{object.name}}</h1>


{{object.about}} <hr>


{% if request.user.is_authenticated %}

<form method="post" action="{% url "chatgroup-follow" %}">

{% csrf_token %}



<input type="hidden" name="chat_group_id" value="{{object.id}}" />
<button>


{% if request.user in object.members.all %}


Unfollow


{% else %}


Follow


{% endif %}




</button>



</form>



{% endif %}

{% if request.user in object.members.all %}

Is following


{% endif %}


{% if is_owner%}


{% include "snippets/new_local_chat_form.html" %}

{% endif %}




-->